<!DOCTYPE html>
<html>

<head>
    <title>About</title>
      <link rel="icon" href="img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This is a web app created by me as a  beginner project in the feild of WebDevelopment. <br>
        This application will help you in monitoring the current temperature of your place or the place you want to know the temperature for.</p>
        <img class="portrait" src="/img/robot.png">
    </div>
    {{>footer}}
</body>
</html> 